{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 120,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
